# Hidden folder/file types.
.coverage
htmlcov/
venv/*
.env
*__pycache__*
checksum.txt

# Database
instance/*
*.db

# Steam Cmd Downloads
steamcmd.zip
steamcmd.tar.gz

# Package files from pyinstalller
build/
dist/
launch.spec

# Nginx folder - Gets downloaded at runtime.
application/nginx