alembic
black
coverage
debugpy
flake8
flask
Flask-SQLAlchemy
gunicorn
oauthlib
psutil
pydocstyle
pyinstaller
pyjwt
pyopenssl
pyqt5
pysteamcmd
pytest
python-dotenv
requests
validators==0.20.0
vdf==3.4

# TODO - Eventually this should be a specific version.
operator @ git+https://github.com/agentsofthesystem/operator@main